<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<!-- ============================================================================================= -->
	<!-- ============================================================================================= -->

	<tx:annotation-driven transaction-manager="transactionManager"/>

	<!-- Common Business Helper -->
	<!-- ====================== -->

	<bean id="businessHelper" class="com.cdgtaxi.ibs.common.business.BusinessHelperImpl">
		<property name="genericBusiness" ref="genericBusiness"/>
		<property name="userBusiness" ref="userBusiness"/>
		<property name="roleBusiness" ref="roleBusiness"/>
		<property name="resourceBusiness" ref="resourceBusiness"/>
		<property name="passwordBusiness" ref="passwordBusiness"/>
		<property name="accountTypeBusiness" ref="accountTypeBusiness"/>
		<property name="applicationBusiness" ref="applicationBusiness"/>
		<property name="productTypeBusiness" ref="productTypeBusiness"/>
		<property name="productBusiness" ref="productBusiness"/>
		<property name="txnBusiness" ref="txnBusiness"/>
		<property name="noteBusiness" ref="noteBusiness"/>
		<property name="accountBusiness" ref="accountBusiness"/>
		<property name="paymentBusiness" ref="paymentBusiness"/>
		<property name="invoiceBusiness" ref="invoiceBusiness"/>
		<property name="billGenBusiness" ref="billGenBusiness"/>
		<property name="reportBusiness" ref="reportBusiness"/>
		<property name="financeBusiness" ref="financeBusiness"/>
		<property name="rewardBusiness" ref="rewardBusiness"/>
		<property name="inventoryBusiness" ref="inventoryBusiness"/>
		<property name="enquiryBusiness" ref="enquiryBusiness"/>
		<property name="adminBusiness" ref="adminBusiness"/>
		<property name="portalBusiness" ref="portalBusiness"/>
		<property name="nonBillableBusiness" ref="nonBillableBusiness"/>
		<property name="prepaidBusiness" ref="prepaidBusiness"/>
	</bean>	

	<!-- Common Business will created below -->
	<!-- =================================== -->

	<bean id="genericBusiness" class="com.cdgtaxi.ibs.common.business.GenericBusinessImpl">
		<property name="daoHelper" ref="daoHelper"/>
		<property name="businessHelper" ref="businessHelper"/>
	</bean>	

	<!-- ACL Business will created below -->
	<!-- =================================== -->
	
	<bean id="userBusiness" class="com.cdgtaxi.ibs.acl.business.UserBusinessImpl" parent="genericBusiness"/>
	<bean id="roleBusiness" class="com.cdgtaxi.ibs.acl.business.RoleBusinessImpl" parent="genericBusiness"/>
	<bean id="resourceBusiness" class="com.cdgtaxi.ibs.acl.business.ResourceBusinessImpl" parent="genericBusiness"/>
	<bean id="passwordBusiness" class="com.cdgtaxi.ibs.acl.business.PasswordBusinessImpl" parent="genericBusiness"/>

	<!-- PROJECT Business will created below -->
	<!-- =================================== -->
	
	<!-- Account -->
	<bean id="accountTypeBusiness" class="com.cdgtaxi.ibs.acct.business.AccountTypeBusinessImpl" parent="genericBusiness"/>
	<bean id="applicationBusiness" class="com.cdgtaxi.ibs.acct.business.ApplicationBusinessImpl" parent="genericBusiness"/>
	<bean id="accountBusiness" class="com.cdgtaxi.ibs.acct.business.AccountBusinessImpl" parent="genericBusiness"/>
	
	<!-- ProductType -->
	<bean id="productTypeBusiness" class="com.cdgtaxi.ibs.product.business.ProductTypeBusinessImpl" parent="genericBusiness"/>
	
	<!-- Product -->
	<bean id="productBusiness" class="com.cdgtaxi.ibs.product.business.ProductBusinessImpl" parent="genericBusiness"/>
	
	<!--  Billing -->
	<bean id="noteBusiness" class="com.cdgtaxi.ibs.billing.business.NoteBusinessImpl" parent="genericBusiness"/>
	<bean id="paymentBusiness" class="com.cdgtaxi.ibs.billing.business.PaymentBusinessImpl" parent="genericBusiness"/>
	<bean id="invoiceBusiness" class="com.cdgtaxi.ibs.billing.business.InvoiceBusinessImpl" parent="genericBusiness"/>
	
	<!-- Transaction -->
	<bean id="txnBusiness" class="com.cdgtaxi.ibs.txn.business.TxnBusinessImpl" parent="genericBusiness"/>
	
	<!-- Bill Gen -->
	<bean id="billGenBusiness" class="com.cdgtaxi.ibs.billgen.business.BillGenBusinessImpl" parent="genericBusiness"/>
	
	<!-- Interfaces -->
	<bean class="com.cdgtaxi.ibs.interfaces.as.api.API">
		<property name="genericDao" ref="genericDao"/>
	</bean>
	
	<bean class="com.cdgtaxi.ibs.interfaces.cnii.IBSCNIIUpdateAcctClient">
		<property name="genericDao" ref="genericDao"/>
	</bean>
	
	<bean class="com.cdgtaxi.ibs.interfaces.fms.IBSFMSDriverVehicleAssocClient">
		<property name="genericDao" ref="genericDao"/>
	</bean>
	
	<!-- Report -->
	<bean id="reportBusiness" class="com.cdgtaxi.ibs.report.business.ReportBusinessImpl" parent="genericBusiness">
		<property name="reportProperties" ref="elixirReportProperties"/>
	</bean>
	
	<!-- Finance -->
	<bean id="financeBusiness" class="com.cdgtaxi.ibs.finance.business.FinanceBusinessImpl" parent="genericBusiness"/>
	
	<!-- Reward -->
	<bean id="rewardBusiness" class="com.cdgtaxi.ibs.reward.business.RewardBusinessImpl" parent="genericBusiness"/>
	
	<!-- Inventory -->
	<bean id="inventoryBusiness" class="com.cdgtaxi.ibs.inventory.business.InventoryBusinessImpl" parent="genericBusiness"/>
	
	<!-- Enquiry -->
	<bean id="enquiryBusiness" class="com.cdgtaxi.ibs.enquiry.as.business.EnquiryBusinessImpl" parent="genericBusiness"/>

	<!-- Admin -->
	<bean id="adminBusiness" class="com.cdgtaxi.ibs.admin.business.AdminBusinessImpl" parent="genericBusiness"/>
	
	<!-- Portal -->
	<bean id="portalBusiness" class="com.cdgtaxi.ibs.portal.business.PortalBusinessImpl" parent="genericBusiness"/>
	
	<!-- Non Billable -->
	<bean id="nonBillableBusiness" class="com.cdgtaxi.ibs.nonbillable.business.NonBillableBusinessImpl" parent="genericBusiness"/>

	<!-- Prepaid -->
	<bean id="prepaidBusiness" class="com.cdgtaxi.ibs.prepaid.business.PrepaidBusinessImpl" parent="genericBusiness"/>
	

</beans>