<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING/DTD BEAN/EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>	

	<!-- Hibernate SessionFactory -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource"><ref bean="dataSource"/></property>
		<property name="mappingDirectoryLocations">
	      <list>
	        <value>classpath:/com/cdgtaxi/ibs/acl/model</value>
	        <value>classpath:/com/cdgtaxi/ibs/common/model</value>
	        <value>classpath:/com/cdgtaxi/ibs/master/model</value>
	        <value>classpath:/com/cdgtaxi/ibs/interfaces/as/model</value>
	        <value>classpath:/com/cdgtaxi/ibs/common/dao/xml</value> <!-- Named Queries -->
	      </list>
	    </property>
	    <property name="configLocation">
			<value>/WEB-INF/hibernate.cfg.xml</value>
		</property>
	</bean>
	
	<bean id="auditLogInterceptor" class="com.cdgtaxi.ibs.acl.security.AuditLogInterceptor">
		<property name="sessionFactory"><ref bean="sessionFactory"/></property>
	</bean>
	
	<!-- Transaction manager for a single Hibernate SessionFactory (alternative to JTA) -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory"><ref bean ="sessionFactory"/></property>
		<property name="entityInterceptor"><ref bean="auditLogInterceptor"/></property>
	</bean>
	
	<!-- ============================================================================================= -->
	<!-- ============================================================================================= -->
	
	<!-- Common Dao Helper -->
	<!-- ================= -->
	
	<bean id="daoHelper" class="com.cdgtaxi.ibs.common.dao.DaoHelperImpl">
		<property name="genericDao" ref="genericDao" />
		<property name="userDao" ref="userDao" />
		<property name="roleDao" ref="roleDao" />
		<property name="resourceDao" ref="resourceDao" />
		<property name="passwordDao" ref="passwordDao" />
		<property name="accountDao" ref="accountDao" />
		<property name="accountTypeDao" ref="accountTypeDao" />
		<property name="noteDao" ref="noteDao" />
		<property name="productTypeDao" ref="productTypeDao" />
		<property name="productDao" ref="productDao" />
		<property name="applicationDao" ref="applicationDao" />
		<property name="invoiceDao" ref="invoiceDao" />
		<property name="paymentReceiptDao" ref="paymentReceiptDao" />
		<property name="txnDao" ref="txnDao" />
		<property name="billGenRequestDao" ref="billGenRequestDao" />
		<property name="bankCodeDao" ref="bankCodeDao" />
		<property name="financeDao" ref="financeDao" />
		<property name="depositDao" ref="depositDao" />
		<property name="billGenErrorDao" ref="billGenErrorDao" />
		<property name="rewardDao" ref="rewardDao" />
		<property name="inventoryDao" ref="inventoryDao" />
		<property name="enquiryDao" ref="enquiryDao" />
		<property name="reportDao" ref="reportDao" />
		<property name="adminDao" ref="adminDao" />
		<property name="portalDao" ref="portalDao" />
		<property name="nonBillableDao" ref="nonBillableDao" />
		<property name="prepaidDao" ref="prepaidDao" />
	</bean>
	
	<!-- Common DAOs will created below -->
	<!-- =============================== -->
	
	<bean id="genericDao" class="com.cdgtaxi.ibs.common.dao.GenericDaoHibernate" init-method="init">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<!-- ACL DAOs will created below -->
	<!-- =============================== -->
	
	<bean id="userDao" class="com.cdgtaxi.ibs.acl.dao.UserDaoHibernate" parent="genericDao" />
	<bean id="roleDao" class="com.cdgtaxi.ibs.acl.dao.RoleDaoHibernate" parent="genericDao"/>
	<bean id="resourceDao" class="com.cdgtaxi.ibs.acl.dao.ResourceDaoHibernate" parent="genericDao"/>
	<bean id="passwordDao" class="com.cdgtaxi.ibs.acl.dao.PasswordDaoHibernate" parent="genericDao"/>
	
	<!-- PROJECT DAOs will created below -->
	<!-- =============================== -->
	
	<!-- Account -->
	<bean id="accountDao" class="com.cdgtaxi.ibs.common.dao.AccountDaoHibernate" parent="genericDao"/>
	<bean id="accountTypeDao" class="com.cdgtaxi.ibs.common.dao.AccountTypeDaoHibernate" parent="genericDao"/>
	<bean id="applicationDao" class="com.cdgtaxi.ibs.common.dao.ApplicationDaoHibernate" parent="genericDao"/>
	
	<!--  Billing -->
	<bean id="noteDao" class="com.cdgtaxi.ibs.common.dao.NoteDaoHibernate" parent="genericDao"/>
	
	<!-- Product -->
	<bean id="productTypeDao" class="com.cdgtaxi.ibs.common.dao.ProductTypeDaoHibernate" parent="genericDao"/>
	<bean id="productDao" class="com.cdgtaxi.ibs.common.dao.ProductDaoHibernate" parent="genericDao"/>
	
	<!-- Invoice -->
	<bean id="invoiceDao" class="com.cdgtaxi.ibs.common.dao.InvoiceDaoHibernate" parent="genericDao"/>
	
	<!-- Payment-->
	<bean id="paymentReceiptDao" class="com.cdgtaxi.ibs.common.dao.PaymentReceiptDaoHibernate" parent="genericDao"/>

	<!-- Transaction -->
	<bean id="txnDao" class="com.cdgtaxi.ibs.common.dao.TxnDaoHibernate" parent="genericDao"/>

	<!-- Bill Gen -->
	<bean id="billGenRequestDao" class="com.cdgtaxi.ibs.common.dao.BillGenRequestDaoHibernate" parent="genericDao"/>
	<bean id="billGenErrorDao" class="com.cdgtaxi.ibs.common.dao.BillGenErrorDaoHibernate" parent="genericDao"/>
	
	<!-- Bank Code -->
	<bean id="bankCodeDao" class="com.cdgtaxi.ibs.common.dao.BankCodeDaoHibernate" parent="genericDao"/>

	<!-- Transaction Code -->
	<bean id="financeDao" class="com.cdgtaxi.ibs.common.dao.FinanceDaoHibernate" parent="genericDao"/>
	
	<!-- Deposit -->
	<bean id="depositDao" class="com.cdgtaxi.ibs.common.dao.DepositDaoHibernate" parent="genericDao"/>

	<!-- Reward -->
	<bean id="rewardDao" class="com.cdgtaxi.ibs.common.dao.RewardDaoHibernate" parent="genericDao"/>

	<!-- Inventory -->
	<bean id="inventoryDao" class="com.cdgtaxi.ibs.common.dao.InventoryDaoHibernate" parent="genericDao"/>

	<!-- Enquiry -->
	<bean id="enquiryDao" class="com.cdgtaxi.ibs.common.dao.EnquiryDaoHibernate" parent="genericDao"/>

	<!-- Report -->
	<bean id="reportDao" class="com.cdgtaxi.ibs.common.dao.ReportDaoHibernate" parent="genericDao"/>

	<!-- Admin -->
	<bean id="adminDao" class="com.cdgtaxi.ibs.common.dao.AdminDaoHibernate" parent="genericDao"/>
	
	<!-- Portal -->
	<bean id="portalDao" class="com.cdgtaxi.ibs.common.dao.PortalDaoHibernate" parent="genericDao"/>
	
	<!-- Non Billable -->
	<bean id="nonBillableDao" class="com.cdgtaxi.ibs.common.dao.NonBillableDaoHibernate" parent="genericDao"/>
	
	<!-- Prepaid -->
	<bean id="prepaidDao" class="com.cdgtaxi.ibs.common.dao.PrepaidDaoHibernate" parent="genericDao"/>
	
</beans>